{% extends 'projects/header.html' %}
{% block content %}
{% if employees %}
    <p>Following are the people with the First name <b>"{{fname}}"</b>: </p>

    <table class="table table-bordered table-striped" >
        <thead class="table-secondary">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Phone no.</th>
            </tr>
        </thead>

    {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.sex }}</td>
            <td>{{ employee.phone }}</td>
        </tr>

    {% endfor %}
    </table>
    
{% else %}
    <p>No people with the First name <b>"{{fname}}"</b> found.</p>
{% endif %}
{% endblock content %}

